%h1 Listing <%= plural_table_name.titleize %>

%table#dttb-<%= plural_table_name %>.responsive.nowrap.table.table-hover data-sort="true" data-source="#{url_for(format: :json)}"
  %thead
    %tr
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      %th data-data="<%= attribute.name %>" <%= attribute.human_name %>
<% end -%>
      %th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"


= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path