/*
*= require datatables/dataTables.bootstrap4
*
*optional add '=' enable
* require datatables/extensions/AutoFill/autoFill.bootstrap4
* require datatables/extensions/Buttons/buttons.bootstrap4
* require datatables/extensions/ColReorder/colReorder.bootstrap4
* require datatables/extensions/FixedColumns/fixedColumns.bootstrap4
* require datatables/extensions/FixedHeader/fixedHeader.bootstrap4
* require datatables/extensions/KeyTable/keyTable.bootstrap4
* require datatables/extensions/Responsive/responsive.bootstrap4
* require datatables/extensions/RowReorder/rowReorder.bootstrap4
* require datatables/extensions/Scroller/scroller.bootstrap4
* require datatables/extensions/Select/select.bootstrap4
*/