@import 'datatables/dataTables.bootstrap4.css';
@import 'datatables/extensions/AutoFill/autoFill.bootstrap4.css';
@import 'datatables/extensions/Buttons/buttons.bootstrap4.css';
@import 'datatables/extensions/ColReorder/colReorder.bootstrap4.css';
@import 'datatables/extensions/FixedColumns/fixedColumns.bootstrap4.css';
@import 'datatables/extensions/FixedHeader/fixedHeader.bootstrap4.css';
@import 'datatables/extensions/KeyTable/keyTable.bootstrap4.css';
@import 'datatables/extensions/Responsive/responsive.bootstrap4.css';
@import 'datatables/extensions/RowReorder/rowReorder.bootstrap4.css';
@import 'datatables/extensions/Scroller/scroller.bootstrap4.css';
@import 'datatables/extensions/Select/select.bootstrap4.css';
