/*
*= require datatables/dataTables.foundation
*
*optional add '=' enable
* require datatables/extensions/AutoFill/autoFill.foundation
* require datatables/extensions/Buttons/buttons.foundation
* require datatables/extensions/ColReorder/colReorder.foundation
* require datatables/extensions/FixedColumns/fixedColumns.foundation
* require datatables/extensions/FixedHeader/fixedHeader.foundation
* require datatables/extensions/KeyTable/keyTable.foundation
* require datatables/extensions/Responsive/responsive.foundation
* require datatables/extensions/RowReorder/rowReorder.foundation
* require datatables/extensions/Scroller/scroller.foundation
* require datatables/extensions/Select/select.foundation
*/