*= datatables/dataTables.foundation.css
*= datatables/extensions/AutoFill/autoFill.foundation.css
*= datatables/extensions/Buttons/buttons.foundation.css
*= datatables/extensions/ColReorder/colReorder.foundation.css
*= datatables/extensions/FixedColumns/fixedColumns.foundation.css
*= datatables/extensions/FixedHeader/fixedHeader.foundation.css
*= datatables/extensions/KeyTable/keyTable.foundation.css
*= datatables/extensions/Responsive/responsive.foundation.css
*= datatables/extensions/RowReorder/rowReorder.foundation.css
*= datatables/extensions/Scroller/scroller.foundation.css
*= datatables/extensions/Select/select.foundation.css
