*= datatables/dataTables.jqueryui.css
*= datatables/extensions/AutoFill/autoFill.jqueryui.css
*= datatables/extensions/Buttons/buttons.jqueryui.css
*= datatables/extensions/ColReorder/colReorder.jqueryui.css
*= datatables/extensions/FixedColumns/fixedColumns.jqueryui.css
*= datatables/extensions/FixedHeader/fixedHeader.jqueryui.css
*= datatables/extensions/KeyTable/keyTable.jqueryui.css
*= datatables/extensions/Responsive/responsive.jqueryui.css
*= datatables/extensions/RowReorder/rowReorder.jqueryui.css
*= datatables/extensions/Scroller/scroller.jqueryui.css
*= datatables/extensions/Select/select.jqueryui.css
