*= require datatables/dataTables.jqueryui

*optional add '=' enable
* require datatables/extensions/AutoFill/autoFill.jqueryui
* require datatables/extensions/Buttons/buttons.jqueryui
* require datatables/extensions/ColReorder/colReorder.jqueryui
* require datatables/extensions/FixedColumns/fixedColumns.jqueryui
* require datatables/extensions/FixedHeader/fixedHeader.jqueryui
* require datatables/extensions/KeyTable/keyTable.jqueryui
* require datatables/extensions/Responsive/responsive.jqueryui
* require datatables/extensions/RowReorder/rowReorder.jqueryui
* require datatables/extensions/Scroller/scroller.jqueryui
* require datatables/extensions/Select/select.jqueryui
