*=require datatables/jquery.dataTables.css
*=require datatables/jquery.dataTables_themeroller.css
*=require 'datatables/extensions/AutoFill/autoFill.dataTables.css';
*=require 'datatables/extensions/Buttons/buttons.dataTables.css';
*=require 'datatables/extensions/ColReorder/colReorder.dataTables.css';
*=require 'datatables/extensions/FixedColumns/fixedColumns.dataTables.css';
*=require 'datatables/extensions/FixedHeader/fixedHeader.dataTables.css';
*=require 'datatables/extensions/KeyTable/keyTable.dataTables.css';
*=require 'datatables/extensions/Responsive/responsive.dataTables.css';
*=require 'datatables/extensions/RowReorder/rowReorder.dataTables.css';
*=require 'datatables/extensions/Scroller/scroller.dataTables.css';
*=require 'datatables/extensions/Select/select.dataTables.css';
