*= datatables/dataTables.semanticui.css
*= datatables/extensions/AutoFill/autoFill.semanticui.css
*= datatables/extensions/Buttons/buttons.semanticui.css
*= datatables/extensions/ColReorder/colReorder.semanticui.css
*= datatables/extensions/FixedColumns/fixedColumns.semanticui.css
*= datatables/extensions/FixedHeader/fixedHeader.semanticui.css
*= datatables/extensions/KeyTable/keyTable.semanticui.css
*= datatables/extensions/Responsive/responsive.semanticui.css
*= datatables/extensions/RowReorder/rowReorder.semanticui.css
*= datatables/extensions/RowReorder/semanticui.scss
*= datatables/extensions/Scroller/scroller.semanticui.css
*= datatables/extensions/Select/select.semanticui.css
