*= require datatables/dataTables.semanticui

*optional add '=' enable
* require datatables/extensions/AutoFill/autoFill.semanticui
* require datatables/extensions/Buttons/buttons.semanticui
* require datatables/extensions/ColReorder/colReorder.semanticui
* require datatables/extensions/FixedColumns/fixedColumns.semanticui
* require datatables/extensions/FixedHeader/fixedHeader.semanticui
* require datatables/extensions/KeyTable/keyTable.semanticui
* require datatables/extensions/Responsive/responsive.semanticui
* require datatables/extensions/RowReorder/rowReorder.semanticui
* require datatables/extensions/RowReorder/semanticui.scss
* require datatables/extensions/Scroller/scroller.semanticui
* require datatables/extensions/Select/select.semanticui
